
@keyframes movingGradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

body {

  background: linear-gradient(to left, #0e140e, #1f2c1f, #0e140e);

  animation: movingGradient 20s linear infinite;

  margin: 0;
  padding: 0;

  background-size: 200% 200%;

  overscroll-behavior: none;
}
